body {
    background: url(../img/places-bg.jpg) no-repeat center top;
    background-size: cover;
}


.attractions {
    margin-left: 50px;
    
}

.attraction-item {
    display: block;
    margin-top: 100px;
}

.title {
    font-size: 1.7rem;
    font-weight: 400;
    color: white;    
    padding-bottom: 30px; 
    cursor: pointer;
}

.title:hover {text-decoration: none; color: rgb(102, 102, 102);}

.wrapper {
    display: flex;
}

.img {
    padding-top: 20px;
    width: 600px;
    height: 400px;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;

    width: 800px;
    margin-left: 100px;
    margin-top: 40px;
}


